#p1{
    color: #8C503A;
    background-color: #BFB3A4;
    padding: 15px;
}
.paragraph{
    color: #FFFEF1;
    background-color: #E6AC8C;
}
h3{
    text-align: center;
    color: #A66F97;
}